header {
    height: 250px;
    background-image: url('./imagem/cadastro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

header h1 {
    margin: 0 0 0 20px;
    font-size: 20px;
}

body {
    width: 0 auto;
    margin: 0;
}

p {
    color: rgb(224, 224, 226);
}

.cad {
    background: rgb(39, 39, 0);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    margin: 2px 0;
}

.cad legend {
    color: greenyellow;
}

.idade {
    width:5%;
}

.tel {
    width: 10%;
}

.date {
    width: 10%;
}

.senha {
    width: 8%;
}

.segunda-linha {
    padding: 0;
    margin: 10px 0;
}

input {
    margin: 0 15px 0 0;
    font-size: 17px;
    width: 25%;

}

.cursos {
    color: black;
    display: iniline-block;
    width: 100px;
}

#cursos {
    width: 300px;
    font-size: 20px;
    margin: 0;
}

.escola {
    color: black;
}

.escola textarea {
    height: 20px;
    font-size: 20px;
    width: 200px;
}

.escola fieldset {
    padding-bottom: 12px;
}

#esperiencia {
    font-size: 20px;
    margin: 0;
}

nav {
    display: inline-block;
}

nav label {
    display: inline-block;
}

.data-ini fieldset {
    margin-top: 0;
}

.date-inicio {
    width: 80%;
}

.data-terminio {
    width: 80%;
}


.enviar:hover {
    font-size: 20px;
    font-weight: bold;
    color: green;
}


.enviar {
    margin: 40px 0 5px 15px;
    border-radius: 5px;
    width: 10%;
    height: 40px;
    cursor: pointer;
}

footer {
    background-image: url('./imagem/rodape.png');
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
    padding: 20px 0 100px 0;
}
